@font-face {
    font-family: 'FixelDisplay';
    src: 
      url('./FixelDisplay/FixelDisplay-Medium.otf') format('otf'),
      url('./FixelDisplay/FixelDisplay-Medium.woff2') format('woff2'),
      url('./FixelDisplay/FixelDisplay-MediumItalic.otf') format('otf'),
      url('./FixelDisplay/FixelDisplay-MediumItalic.woff2') format('woff2'),
      url('./FixelDisplay/FixelDisplay-Regular.otf') format('otf'),
      url('./FixelDisplay/FixelDisplay-Regular.woff2') format('woff2'),
      url('./FixelDisplay/FixelDisplay-RegularItalic.otf') format('otf'),
      url('./FixelDisplay/FixelDisplay-RegularItalic.woff2') format('woff2'),
      url('./FixelDisplay/FixelDisplay-SemiBold.otf') format('otf'),
      url('./FixelDisplay/FixelDisplay-SemiBold.woff2') format('woff2'),
      url('./FixelDisplay/FixelDisplay-SemiBoldItalic.otf') format('otf'),
      url('./FixelDisplay/FixelDisplay-SemiBoldItalic.woff2') format('woff2')
}

@font-face {
  font-family: 'FixelText';
  src: 
    url('./FixelText/FixelText-Regular.otf') format('otf'),
    url('./FixelText/FixelText-Regular.woff2') format('woff2'),
    url('./FixelText/FixelText-RegularItalic.otf') format('otf'),
    url('./FixelText/FixelText-RegularItalic.woff2') format('woff2'),
}